@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat',  sans-serif;
}
h1{
    color: #000;
    font-size: calc(3rem + 1.5vw);
    font-weight: 600;
}
.main{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.cursor {
	height: 100%;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
	z-index: 99;
	mix-blend-mode: exclusion;
}

.cursor__inner {
	display: grid;
	grid-template-columns: repeat(15, var(calc(100vw / 15)));
}

.cursor__inner-box {
	width: var(calc(100vw / 15));
	height: var(calc(100vw / 15));
	background: blue;
	opacity: 0;
	border-radius: 10px;
}


/* Extra large devices (large laptops and desktops, 1200px) */
@media only screen and (max-width: 1200px) {}

/* Large devices (laptops/desktops, 992px) */
@media only screen and (max-width: 992px) {}

/* Medium devices (landscape tablets, 768pxp) */
@media only screen and (max-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px) */
@media only screen and (max-width: 600px) {}
