@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
}

h1 {
    color: var(--color-menu-item-desc);
    font-size: calc(3rem + 1.5vw);
    font-weight: 500;
}
.h1Desc{
    color: var(--color-menu-item-desc);
}
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* scroll-snap-align: start;
    scroll-snap-stop: always; */
}
.section{
    flex-direction: column;
}
.h1Desc{
    font-size: calc(2rem);
    font-weight: 500;
}
.colored{
    color: var(	--color-title);
    font-weight: 700;
}
.contactLink, #contactSec .colored{
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}
.contactLink:hover{
    color: var(	--color-title);
}
#contactSec .colored:hover{
    color: var(	--color-menu-item-desc);
}
footer{
    width: 85%;
    height: fit-content;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-desc-cont);
}
/* Extra large devices (large laptops and desktops, 1200px) */
@media only screen and (max-width: 1200px) {}

/* Large devices (laptops/desktops, 992px) */
@media only screen and (max-width: 992px) {}

/* Medium devices (landscape tablets, 768pxp) */
@media only screen and (max-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px) */
@media only screen and (max-width: 600px) {}