.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    top: 43%;
    z-index: 999;
}
.navIcon{
    width: 30px;
    height: 30px;
    margin: 10px 0;
    border-radius: 50%;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.navSvg{
    width: 30px;
    height: auto;
}
.navSvg:hover{
    fill: #00b9b9;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}